<div class="banner">
  <div class="container">
    <script src="./javascripts/responsiveslides.min.js"></script>
    <!-- <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script> -->
    <div id="top" class="callbacks_container">
      <ul class="rslides" id="slider">
        <li>

          <div class="banner-text">
            <h3>Tech For The Technical</h3>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
              literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor .</p>
            {{!-- <a href="single.html">Learn More</a> --}}
          </div>

        </li>
      </ul>
    </div>

  </div>
</div>

<div class="content">
  <div class="container">
    <div class="content-top">
      <h1>NEW RELEASED</h1>
      <div class="grid-in">
        {{# each products }}
          {{# each this }}
            <div class="col-md-4 grid-top">
              <a href="/description/{{this._id}}" class="b-link-stripe b-animate-go  thickbox">
                <img class="img-responsive img-respon" src="{{this.imagePath}}" alt="{{this.title}}">
                <div class="b-wrapper">
                  <h3 class="b-animate b-from-left    b-delay03 ">
                    <span>${{this.price}}</span>
                  </h3>
                </div>
              </a>
              <p>
                <a href="single.html">{{this.title}}</a>
              </p>
            </div>
          {{/each}}
        {{/each}}
      </div>
    </div>
  </div>
</div>






