<div class="row">
    <p class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
            {{ successMsg }}
        </div>
    </p>
</div>

<section class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="my-3">User Profile</h1>
        <hr>
        <h2 class="mb-3">My Orders</h2>
        {{# each orders }}
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-group">
                    {{# each this.items }}
                    <li class="list-group-item">
                        <span class="badge">{{ this.price }}</span>
                        {{ this.item.title }} | {{ this.qty }} Units
                    </li>
                    {{/each}}
                </ul>
            </div>
            <p class="panel-footer">
                <strong>Total Price: ${{ this.cart.totalPrice }}</strong>
            </p>
        </div>
        {{/each}}
    </div>
</section>