<div class="container">
  <div class="row mt-5">
    <div class="col-xs-6 col-md-4 mt-5 ml-0">
      <img src="{{product.imagePath}}" alt="{{product.title}}" style="max-height:400px;">
    </div>
    <div class="col-xs-12 col-md-8">
      <h1 class="my-5">{{product.title}}</h1>
      <p class="h3 my-4">${{product.price}}</p>
      <hr>
      <ul class="pl-5">
        {{# each splitDesc}}
          <li class="py-2">{{this}}</li>
        {{/each}}
      </ul>
      <a href="/add-to-cart/{{ product._id }}" class="btn btn-success mt-4" role="button">Add to Cart</a>

    </div>
  </div>
</div>
